* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #31edb2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch-container {
    text-align: center;
    background-color: rgb(234, 146, 31);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.time-display {
    font-size: 3em;
    margin: 20px 0;
}

.controls button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #24a9ce;
    color: white;
    border: none;
    border-radius: 5px;
}

.controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.laps {
    margin-top: 20px;
}

.laps ul {
    list-style-type: none;
}

.laps li {
    font-size: 1.2em;
    margin: 5px 0;
}
